<template>
  <transition name="fade">
    <div v-if="show" class="preloader">
      <img
        class="image"
        src="@/assets/logo/logo.png"
        width="100px"
      >
      <br>
      <div class="logo" v-if="$online">
        <hollow-dots-spinner :animation-duration="1000" :size="900" :color="'#FF0000'"/>
      </div>
      <div v-if="!$online" color="rgb(255,0,0)"> <b>NO SE TIENE CONEXIÓN A INTERNET</b></div>
    </div>
  </transition>
</template>

<script>
import { HollowDotsSpinner } from "epic-spinners";
export default {
  name: "preloader",
  data() {
    return {
      name: [{}],
      toload: 0,
      show: true
    };
  },
  /*mounted() {
    this.showToggle();
  },*/
  methods: {
    showToggle() {
      /*console.log("numero de video: " + this.counter)*/
      if(this.toload==1){
       this.show = false;
       /*console.log(this.toload)*/
      }else{
        /*console.log(this.toload)*/
        this.toload--;
        /*this.counter++;*/
      } 
    },
    setoload(n){
      this.toload = n;
      console.log("se ha enviado " + this.toload);
    }/*
    setname(arrayName){
      if(arrayName.length == 8){
        console.log("SON 8 NOMBRES");
      }
    }*/
  },
  components: {
    HollowDotsSpinner
  }
};
</script>

<style>
  .preloader {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20%;
   /* justify-content: center;*/
    position: absolute;

    width: 100%;
    height: 100%;

    background-color: rgb(255, 255, 255, 1);
    z-index: 9999;
  }

.fade-enter-active,
.fade-leave-active {
  transition: opacity 2s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>

