<template>
    <v-footer color="rgba(0, 0, 0,0.5)" app absolute fixed>
        <v-spacer></v-spacer>
        <div class="DText">
            <b>Mateo Hervas &amp; Christian Fernandez  &copy;Lima {{ new Date().getFullYear() }}&nbsp; &nbsp;</b>
        </div>
    </v-footer>
</template>

<script>
    export default {
    }
</script>

<style>
.DText{
    color:white;
}
/*
.foot{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
}*/
</style>