<template>
    <v-toolbar color="rgba(0, 0, 0,0.5)" app absolute fixed>
        <v-toolbar-title class="texto">DETECCIÓN DE COMPORTAMIENTOS SOSPECHOSOS EN AMBIENTES SENSIBLES A LA SEGURIDAD</v-toolbar-title>
        <v-spacer/><v-spacer/><img src="@/assets/logo/logo.png" width="40">
    </v-toolbar>
</template>

<script>
export default {

}
</script>

<style>
.texto{
    color:white
}
</style>
