<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <title>DCSASS</title>
    <link rel="icon" type="image/png" href="https://firebasestorage.googleapis.com/v0/b/proyecto-2929l.appspot.com/o/img%2Ficon%2Flogo1.png?alt=media&token=1edce96c-ded4-4fb4-ad5f-0e7fcc132a2e" />
  </head>
  <body>
    <noscript>
      <strong>We're sorry but proyecto doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
