<template>
<div>
  <loadpage ref="loadpage"></loadpage>
  <v-container fluid grid-list-sm>
    <v-layout wrap justify-space-around mt-4 pt-2 row>
      <template v-for="(video,index) in videos">
        <v-flex mt-4 xs12 md3 sm6 :key="index">
          <vue-plyr :emit="['canplaythrough', 'error']" @canplaythrough="tiempo" @error="errores" playsinline autoplay muted loop class="vid"> 
            <video playsinline autoplay muted loop id="player" :src="video.video_url" preload="metadatos"></video>
            <div v-if="video.result" class="texto-encima alert parpadea">
              <b>¡CUIDADO!</b>
            </div>
            <div v-if="!video.result" class="texto-encima ok">
              <b>NORMAL</b>
            </div>
          </vue-plyr>
        </v-flex>
      </template>
    </v-layout>
  </v-container>
  <v-container hidden-md-and-up ma-2></v-container>
</div>
</template>

<script>
import loadpage from './extra/loadpage.vue';
import firebase, {  } from 'firebase';
  export default {
    components:{
      loadpage
    },
    data: ()=>{
      return{
        videos:[
          {}
        ]
      }
    },
    methods:{
      tiempo(){        
        this.$refs.loadpage.showToggle()
      }, 
      errores(){
        window.alert("ERROR EN LA CARGA DE VIDEO");
      },
      loadvideos(){
        var tempArray = [];
        var temArrayShow = [];

        /*var tempArray2 = [];*/
        var count = 0;
        var database = firebase.firestore().collection("videos")
        database.get().then((ces)=>{
          ces.forEach(function(video){
            count++;
            tempArray.push(video.data());
           
            /*tempArray2.push(video.data().title);*/
          })
          /*this.$refs.loadpage.setname(name);
          console.log(tempArray2);*/

          /*this.$refs.loadpage.setname(tempArray2);*/
         temArrayShow.push(tempArray[4]);
         temArrayShow.push(tempArray[3]);
          this.$refs.loadpage.setoload(count);
          for (let index = 2; index < 8; index++) {
            var n = Math.floor(Math.random() * (tempArray.length - 0) + 0);
            console.log(n); //Imprime los numero ramdom
            temArrayShow.push(tempArray[n]);
          }
          
        }).catch(function(error){
          this.errores();
          return error
        })
        /*this.$refs.loadpage.setoload(tempArray.length);*/
        this.videos=temArrayShow;
      }
    },
    mounted(){
      this.loadvideos();
    }
  }
</script>

<style>
.vid {
  position: relative !important;
  pointer-events: none;
}
.texto-encima {
  width: 100%;
  font-size: 20px;
  text-align: center;
  position: absolute !important;
  margin-left: 0px;
  top: 0px !important;
  color: white;
}
.alert{
  background-color: red;
  color: black !important;
}
.ok{
  background-color: lime;
  color: black !important;
}
/*PARPADEO*/
.parpadea {
  
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  0% { color: rgba(0,0,0,1);}
  50% { color: rgba(0,0,0,0);}
  100% { color: rgba(0,0,0,1);}
}

@-webkit-keyframes parpadeo {  
  0% { color: rgba(0,0,0,1);}
  50% { color: rgba(0,0,0,0);}
  100% { color: rgba(0,0,0,1);}
}

@keyframes parpadeo {  
  0% { color: rgba(0,0,0,1);}
  50% { color: rgba(0,0,0,0);}
  100% { color: rgba(0,0,0,1);}
}
</style>