<template>
  <v-app id="app">
    <toolbar></toolbar>
    <HelloWorld msg="Welcome to Your Vue.js App"/>
    <pdp></pdp>
  </v-app>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import toolbar from './components/extra/toolbar.vue'
import pdp from './components/extra/pdp.vue'


export default {
  name: 'app',
  components: {
    HelloWorld,
    toolbar,
    pdp
  }
}
</script>

<style>
#app{
  background-image: url("./assets/background/fondo03.png");
}
</style>
